 /* Nedan behövs kompletteras i css för att modal fönster för hus information skall synas i buy mest för att kunna testa*/

 .modal-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1000;
 }

 .modal {
   background-color: #fff;
   padding: 20px;
   max-width: 80%;
 }

